BOT_TOKEN=8687244387:AAHygrBI5YhoogyXWkiXCw2skYQuSPJqHiY
OWNER_ID=1087371463
TARGET_URL=
https://5d.5ka.ru/api/orders/v6/orders/ad954e40-4241-4288-a788-498a164bee2b/apply-coupon/57promokodi/
REQUEST_DELAY_MIN=0.5
REQUEST_DELAY_MAX=2.0
